<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'contact_us' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="banner">
        <div class="logo ion-text-center">
            <img src="assets/images/logo.png" class="light_theme_logo">
            <img src="assets/images/logo.png" class="dark_theme_logo">
        </div>
    </div>

    <div class="form">
        <h2>{{'or_write_us_your_queries' | translate}}</h2>
        <p>{{'will_get_back_to_soon' | translate}}.</p>

        <ion-list lines="none">
            <ion-item lines="none">
                <div class="item_inner d-flex">
                    <div class="icon_box ion-text-start">
                        <ion-icon class="zmdi zmdi-smartphone-android"></ion-icon>
                    </div>
                    <div class="input_box">
                        <ion-label mode="md" position="stacked">{{"phone_number" | translate}}</ion-label>
                        <ion-input mode="md" type="text" placeholder="" value="+1 987 654 3210"></ion-input>
                    </div>
                </div>
            </ion-item>

            <ion-item lines="none">
                <div class="item_inner d-flex">
                    <div class="icon_box ion-text-start">
                        <ion-icon class="zmdi zmdi-email"></ion-icon>
                    </div>
                    <div class="input_box">
                        <ion-label mode="md" position="stacked">{{"your_message" | translate}}</ion-label>
                        <ion-textarea rows="4" mode="md" type="text" placeholder="{{'enter_your_message_heare' | translate}}" value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book"></ion-textarea>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-button size="large" expand="full" class="btn">{{'submit' | translate}}</ion-button>
</ion-footer>