.banner {
    background: var(--bg-color);
    min-height: 240px;
    display: flex;
    align-items: center;

    .logo {
        display: block;
        width: 138px;
        margin: auto;

        img {
            &.dark_theme_logo {
                display: none;
            }
        }
    }
}

.form {
    padding-top: 30px;
    padding-bottom: 23px;

    h2 {
        margin: 0;
        color: var(--text-black);
        font-size: 1.23rem;
        font-weight: 600;
        padding-bottom: 5px;

    }

    p {
        margin: 0;
        font-size: .94rem;
        line-height: 24px;
        letter-spacing: .4px;
        color: var(--text-black);

    }

    ion-list {
        padding-top: 35px;

        ion-item {

            ion-textarea,
            ion-input {
                    font-size: 1rem !important;
            }

            ion-textarea {
                line-height: 26px;
                letter-spacing: .45px;
            }
        }
    }
}
