<ion-tabs>
    <ion-tab-bar slot="bottom" class="animate__animated animate__fadeInUp">
        <ion-tab-button tab="home">
            <div class="img_box">
                <img src="assets/images/ic_home.png" class="before">
                <img src="assets/images/ic_homeactive.png" class="after">
            </div>
        </ion-tab-button>

        <ion-tab-button tab="my_appointments">
            <div class="img_box">
                <img src="assets/images/ic_appointment.png" class="before">
                <img src="assets/images/ic_appointmentactive.png" class="after">
            </div>
        </ion-tab-button>

        <ion-tab-button tab="wallet">
            <div class="img_box">
                <img src="assets/images/ic_wallet.png" class="before">
                <img src="assets/images/ic_walletactive.png" class="after">
            </div>
        </ion-tab-button>

        <ion-tab-button tab="my_account">
            <div class="img_box">
                <img src="assets/images/ic_profile.png" class="before">
                <img src="assets/images/ic_profileactive.png" class="after">
            </div>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>