ion-tabs {
    ion-tab-bar {
        --background: var(--white) !important;

        ion-tab-button {
            --ripple-color: var(--transparent) !important;

            ion-label {
                color: var(--text-light2);
                font-size: .7rem;
            }

            .img_box {
                position: relative;
                margin: 0 auto;
                width: 27px;
                height: 27px
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 0;
                height: auto;
                transition: all .3s;

                &.before {
                    width: 23px;
                    transition: all .3s;
                }

            }

            &.tab-selected {
                ion-label {
                    color: var(--primary);
                }

                img {
                    transition: all .3s;

                    &.before {
                        width: 0;
                        height: 0;
                        transition: all .3s;
                    }

                    &.after {
                        width: 23px;
                        transition: all .3s;
                    }
                }

            }
        }
    }

    .animate__animated.animate__fadeInUp {
        --animate-duration: .3s;
    }
}
