ion-list {
    background: none;
    margin: 0;
    padding-top: 15px;
    --animate-duration: .2s;

    ion-item {
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --min-height: unset !important;
        --padding-start: 0;
        --background: var(--transparent) !important;
        width: calc(100% - 40px);
        margin: 0 auto;
        margin-bottom: 35px;

        .item_inner {
            width: 100%;

            .img_box {
                min-width: 70px;
                height: 70px;
                border-radius: 12px;
                margin-right: 15px;
            }

            .text_box {
                width: 100%;
                overflow: hidden;

                h3 {
                    margin: 0;
                    color: var(--text-black);
                    margin: 0;
                    color: var(--text-black);
                    font-size: .86rem;
                    padding-bottom: 6px;

                    .rating {
                        display: flex;
                        align-items: center;

                        ion-icon {
                            display: block;
                            color: var(--text-light);
                            font-size: 1rem;
                            min-width: 20px;
                            opacity: .5;

                            &.active {
                                color: var(--yelow_color);
                                opacity: 1;
                            }
                        }
                    }
                }

                h2 {
                    margin: 0;
                    margin-bottom: 4px;
                    color: var(--text-black);
                    padding: 0;
                    font-size: 1.3rem;
                    font-weight: 600;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;

                }

                h4 {
                    color: var(--text-light);
                    margin: 0;
                    font-weight: 400;
                    font-size: .75rem;

                    span {
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }

                    ion-icon {
                        font-size: .9rem;
                        min-width: 20px;
                        display: block;
                    }
                }
            }
        }
    }

    .select_a_day {
        width: 100%;
        margin-bottom: 14px;

        h2 {
            margin: 0;
            color: var(--text-black);
            font-weight: 500;
            padding: 0px 20px 12px 20px;
            font-size: 1.5rem;
        }

        .scroll-X {
            width: 100%;
            white-space: nowrap;
            overflow-x: auto;

            .appointment_date {
                display: inline-block;
                background: var(--bg-color);
                width: 74px;
                height: 74px;
                border-radius: 10px;
                padding: 8px 7px;
                text-align: center;
                margin: 10px 6px 23px 6px;
                transition: all 0.5s;
                position: relative;
                overflow: hidden;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 0;
                    height: 0;
                    background: var(--primary-gradient);
                    transition: all .2s;
                    border-radius: 10px;

                }

                h3 {
                    margin: 0;
                    color: var(--text-light);
                    text-transform: uppercase;
                    font-size: .8rem;
                    font-weight: 400;
                    position: relative;
                    z-index: 9;
                    transition: all .25s;

                    &.day {
                        text-transform: capitalize;
                    }
                }

                h2 {
                    margin: 0;
                    color: var(--text-black);
                    padding: 1px 0;
                    letter-spacing: 0;
                    text-transform: none;
                    font-size: 1.3rem;
                    position: relative;
                    z-index: 9;
                    transition: all 0.25s;
                    font-weight: 600;

                }

                &:first-child {
                    margin-left: 20px;
                }

                &:last-child {
                    margin-right: 20px;
                }

                &.active {
                    box-shadow: 0px 6px 16px -5px var(--primary) !important;

                    &::before {
                        width: 100%;
                        height: 100%;
                    }

                    h3 {
                        color: var(--white);
                    }

                    h2 {
                        color: var(--white);
                    }
                }


                &.animate__animated.animate__zoomIn {
                    --animate-duration: .0s;

                    &:nth-child(1) {
                        --animate-duration: .15s;
                    }

                    &:nth-child(2) {
                        --animate-duration: .2s;
                    }

                    &:nth-child(3) {
                        --animate-duration: .25s;
                    }

                    &:nth-child(4) {
                        --animate-duration: .3s;
                    }

                    &:nth-child(5) {
                        --animate-duration: .35s;
                    }

                    &:nth-child(6) {
                        --animate-duration: .4s;
                    }

                    &:nth-child(7) {
                        --animate-duration: .45s;
                    }

                    &:nth-child(8) {
                        --animate-duration: .5s;
                    }

                    &:nth-child(9) {
                        --animate-duration: .55s;
                    }

                    &:nth-child(10) {
                        --animate-duration: .6s;
                    }

                    &:nth-child(11) {
                        --animate-duration: .65s;
                    }

                    &:nth-child(12) {
                        --animate-duration: .7s;
                    }

                    &:nth-child(13) {
                        --animate-duration: .5s;
                    }

                    &:nth-child(14) {
                        --animate-duration: .5s;
                    }

                    &:nth-child(15) {
                        --animate-duration: .5s;
                    }
                }
            }

        }
    }

    .select_times {
        width: 100%;

        h2 {
            margin: 0;
            color: var(--text-black);
            font-weight: 500;
            padding: 0 20px 10px 20px;
            font-size: 1.5rem;
        }

        ion-row {
            padding: 0 11px;

            ion-col {
                padding: 10px 9px;


                ion-item {
                    margin: 0;
                    border-radius: 10px;
                    background: var(--bg-color);
                    --ripple-color: var(--transparent) !important;
                    width: 100%;
                    padding: 7px 14px;
                    transition: all 0.5s;
                    --animate-duration: .3s;


                    ion-radio {
                        position: absolute;
                        z-index: 999;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        --color: var(--transparent) !important;
                        --color-checked: var(--transparent) !important;
                    }

                    ion-label {
                        width: 100% !important;
                        position: relative;
                        max-width: 100% !important;
                        margin: 0;
                        color: var(--text-black);
                        letter-spacing: 0;
                        text-transform: none;
                        font-size: 1.3rem;
                        z-index: 9;
                        transition: all 0.2s;
                        font-weight: 600;

                        span {
                            display: block;
                            margin: 0;
                            color: var(--text-light);
                            text-transform: uppercase;
                            font-size: 0.8rem;
                            font-weight: 500;
                            position: relative;
                            z-index: 9;
                            transition: all 0.25s;
                            padding-top: 3px;
                        }
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                        width: 0;
                        height: 0;
                        transition: all .3s;
                        background: var(--primary-gradient);
                        border-radius: 10px;

                    }

                    &.item-radio-checked {
                        box-shadow: 0px 6px 16px -5px var(--primary) !important;

                        &::before {
                            width: 100%;
                            height: 100%;
                        }

                        ion-label {
                            color: var(--white) !important;

                            span {
                                color: var(--white) !important;
                            }
                        }
                    }

                    &.animate__animated.animate__flipInX {
                        --animate-duration: .3s;

                    }
                }

                &.animate__animated.animate__zoomIn {
                    --animate-duration: .0s;

                    &:nth-child(1) {
                        --animate-duration: .15s;
                    }

                    &:nth-child(2) {
                        --animate-duration: .2s;
                    }

                    &:nth-child(3) {
                        --animate-duration: .25s;
                    }

                    &:nth-child(4) {
                        --animate-duration: .3s;
                    }

                    &:nth-child(5) {
                        --animate-duration: .35s;
                    }

                    &:nth-child(6) {
                        --animate-duration: .4s;
                    }

                    &:nth-child(7) {
                        --animate-duration: .45s;
                    }

                    &:nth-child(8) {
                        --animate-duration: .5s;
                    }

                    &:nth-child(9) {
                        --animate-duration: .55s;
                    }

                    &:nth-child(10) {
                        --animate-duration: .6s;
                    }

                    &:nth-child(11) {
                        --animate-duration: .65s;
                    }

                    &:nth-child(12) {
                        --animate-duration: .7s;
                    }

                    &:nth-child(13) {
                        --animate-duration: .5s;
                    }

                    &:nth-child(14) {
                        --animate-duration: .5s;
                    }

                    &:nth-child(15) {
                        --animate-duration: .5s;
                    }
                }
            }
        }
    }
}

ion-footer {
    background: var(--white);
    --animate-duration: .25s;

    .total {
        padding: 10px 20px;
        background: var(--bg-color);

        h2 {
            margin: 0;
            min-width: fit-content;
            display: flex;
            align-items: center;
            color: var(--text-black);
            font-size: 1rem;
            font-weight: 700;

            small {
                color: var(--text-light);
                font-weight: 400;
                font-size: 0.8rem;
                display: block;
            }
        }

        .button.btn {
            width: 140px;
            min-width: fit-content;
            font-size: 0.95rem;
            font-weight: 500;
            height: 44px;
            --padding-start: 15px;
            --padding-end: 16px;
            --animate-duration: .25s;
        }
    }
}