.form {
    border-top: 6px solid var(--bg-color);
    padding-top: 34px;

    h2 {
        margin: 0;
        font-size: 1.15rem;
        line-height: 21px;
        width: calc(100% - 33px);
        padding-bottom: 45px;
        font-weight: 500;
        color: var(--text-black);
    }

    ion-list {
        ion-item {
            ion-label {
                margin-bottom: 14px !important;
            }

            ion-input {
                letter-spacing: 4px !important;
                font-size: 1.1rem !important;
            }
        }
    }

    p {
        margin: 0;
        color: var(--text-light);
        font-size: .7rem;
        letter-spacing: .5px;
        font-weight: 400;

        span {
            width: calc(100% - 35px);
        }
    }
}

ion-footer {
    h3 {
        padding: 0 20px;
        margin: 0;
        font-size: 1.15rem;
        font-weight: 500;
        padding-bottom: 16px;
        color: var(--text-black);

        span {
            color: var(--primary);
            font-weight: 400;
            letter-spacing: 0.4px;
            font-size: 1.1rem;
        }
    }
}