.form {
    ion-list {
        padding-top: 20px;
        ion-item {
            margin-bottom: 16px;
            .item_inner {
                &.d-flex {
                    align-items: center;
                }

                h3 {
                    margin: 0;
                    font-size: 1.2rem;
                    font-weight: 500;
                    letter-spacing: 0.3px;
                }

                ion-radio {
                    --color-checked: var(--primary);
                }
            }

            &.animate__animated.animate__fadeInUp {
                --animate-duration: .0s;

                &:nth-child(1) {
                    --animate-duration: .15s;
                }

                &:nth-child(2) {
                    --animate-duration: .2s;
                }

                &:nth-child(3) {
                    --animate-duration: .25s;
                }

                &:nth-child(4) {
                    --animate-duration: .3s;
                }

                &:nth-child(5) {
                    --animate-duration: .35s;
                }

                &:nth-child(6) {
                    --animate-duration: .4s;
                }

                &:nth-child(7) {
                    --animate-duration: .45s;
                }

                &:nth-child(8) {
                    --animate-duration: .5s;
                }

                &:nth-child(9) {
                    --animate-duration: .55s;
                }

                &:nth-child(10) {
                    --animate-duration: .6s;
                }

                &:nth-child(11) {
                    --animate-duration: .65s;
                }

                &:nth-child(12) {
                    --animate-duration: .7s;
                }

                &:nth-child(13) {
                    --animate-duration: .5s;
                }

                &:nth-child(14) {
                    --animate-duration: .5s;
                }

                &:nth-child(15) {
                    --animate-duration: .5s;
                }
            }

        }
    }
}