<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'appointment_info' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-list lines="none">
        <ion-item  (click)="salon_profile()">
            <div class="item_inner d-flex">
                <div class="img_box center_img">
                    <img src="assets/images/1.png" class="crop_img">
                </div>
                <div class="text_box">
                    <h3 class="d-flex">
                        <span class="rating">
                            <ion-icon class="zmdi zmdi-star active"></ion-icon>
                            <ion-icon class="zmdi zmdi-star active"></ion-icon>
                            <ion-icon class="zmdi zmdi-star active"></ion-icon>
                            <ion-icon class="zmdi zmdi-star active"></ion-icon>
                            <ion-icon class="zmdi zmdi-star"></ion-icon>
                        </span>
                        &nbsp;&nbsp;4.5
                    </h3>
                    <h2>Restro Salons</h2>
                    <h4 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        <span>Center Park, City Tower, New York</span>
                    </h4>
                </div>
            </div>
        </ion-item>

        <div class="appointment_info">
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h3 class="">{{'date' | translate}}</h3>
                    <h2 class="d-flex">April 16, 2020 (Monday) <span class="end" (click)="book_appointment()">{{'reschedule' | translate}}</span></h2>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h3 class="">{{'time' | translate}}</h3>
                    <h2 class="d-flex">12:00 AM <span class="end">{{'cancel' | translate}}</span></h2>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h3 class="">{{'services' | translate}}</h3>
                    <div class="services">
                        <div class="service">
                            <h2 class="d-flex">Face Bleach <span class="end">$20</span></h2>
                            <h4>25 mins</h4>
                        </div>
                        <div class="service">
                            <h2 class="d-flex">Detanning <span class="end">$15</span></h2>
                            <h4>22 mins</h4>
                        </div>
                        <div class="service">
                            <h2 class="d-flex">Style My Hair <span class="end">$18</span></h2>
                            <h4>30 mins</h4>
                        </div>
                        <div class="service">
                            <h2 class="d-flex">Color My Hair <span class="end">$40</span></h2>
                            <h4>35 mins</h4>
                        </div>
                    </div>
                </div>
            </ion-item>
        </div>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
    <div class="services_fee">
        <h2 class="d-flex">{{'service_fee' | translate}} <span class="end">$05</span></h2>
    </div>
    <div class="total d-flex">
        <h2>$93.00 <small>&nbsp;{{'in_total' | translate}}.</small></h2>

        <ion-button size="large" shape="round" fill="outline" class="btn end animate__animated animate__zoomIn">{{'get_direction' | translate}}</ion-button>
    </div>
</ion-footer>